.notes-container {
  /* padding: 1rem; */
  display: flex;
  justify-content: flex-start;
}
.note-card {
  flex: 0 0 1;
  background-color: #f9f871;
  width: 300px;
  min-height: 130px;
  margin: 0.5rem;
  padding: 0.2rem 0 0.6rem 0;
  position: relative;
}
.note-card h2 {
  margin: 0.4rem;
  text-align: center;
}
.note-card p {
  margin: 0 1rem;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.note-btn {
  position: absolute;
  top: -4px;
  right: 4px;
}
.edit-btn,
.del-btn {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}
.edit-btn {
  color: blue;
  font-size: 1.6rem;
  margin-right: 0.4rem;
}
.del-btn {
  color: brown;
}

.add-note-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
