.notes-container {
  margin: 0 0.5rem;
}

.note-card {
  display: inline-block;
  background-color: #f9f871;
  width: 300px;
  min-width: 250px;
  min-height: 130px;
  margin: 0.8rem 0.5rem;
  padding: 0.2rem 0 0.6rem 0;
  position: relative;
  box-shadow: 0 8px 6px -6px #bea6a1, -4px 0 6px -6px #bea6a1;
}
.note-card:hover {
  box-shadow: none;
  transition: 0.3s all ease-in;
}
.note-card h2 {
  margin: 0;
  text-align: center;
  color: #444444;
}
.note-card p {
  margin: 0 1rem;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.btn-group {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
